<div class="container">
  <h3 class="text-center">Competitions</h3>
  <table class="table table-bordered">
    <tr>
      <th>Start Date</th>
      <th>Name</th>
      <th>Sport</th>
      <th>LocationData(show main location)</th>
      <th>Owner FirstName</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let competition of competitions">
      <td>{{competition.Competition.StartDate | date}}</td>
      <td>{{competition.Competition.Name}}</td>
      <td>{{competition.Competition.Sport}}</td>
      <td>{{competition.Competition.Location}}</td>
      <td>{{competition.Competition.Owner.FirstName}}</td>
      <td></td>
    </tr>
  </table>
</div>
